.item{
    margin: 20px 0;
}
.item .numberPage{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: var(--black);
    background-color: transparent;
    margin: 0px 10px 10px 0px;
    border: 1px solid var(--dark);
    border-radius: 8px;
    text-align: center;
    padding-top: 11px;
    box-sizing: border-box;
}
.item .numberPage:hover{
    cursor: pointer;
}
.item .active{
    border-color: var(--main);
}
.item button{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: var(--black);
    background-color: transparent;
    margin: 0px 10px 10px 0px;
    border: 1px solid var(--dark);
    border-radius: 8px;
    text-align: center;
    padding-top: 2px;
    position: relative;
    bottom: 3px
}
.item button:hover{
    cursor: pointer;
}